@charset "UTF-8";

header.cat-header img.cat_icon {
	max-width: 28%;
}

header.cat-header h1.post-title{
	display:inline-block;
	width:70%;
	vertical-align: middle;
}

h2.post-title{
	font-size: 20px;
}
h2.post-title a{
	font-size:100%;
}

header.post-header{
	min-height:0;
	height: auto;
}
.post-loop-wrap .post-content{
	height:auto;
	padding-bottom: 7px;
}

.post-loop-wrap .post-thumbnail img{

}
.post-content .post-thumbnail{
	width: 100%;
	display: inline-block;
}
.post-loop-wrap .type-post
{
	height:auto;
}

.post-description{
	text-align:left;
}
.post-loop-wrap .post-content{
	width:100%;
}
a.more-link{
	margin:3px;
	bottom: 0;
}
/*  レイアウト */
@media screen and (min-width: 767px) {
	section.post-content{
		display: inline-block;
	}
	.post-content div.post-thumbnail{
		float: left;
		width: 200px;
		display: inline-block;
		margin: 10px;
	}
	.post-content p{
		float: left;
		display: inline-block;
		width: calc(100% - 220px);
		padding: 10px;
		margin-bottom: 0;
	}

}

@media screen and (max-width: 767px) {

}
/* プロフィール情報修飾 */
aside.post-author {
/*     background: black !important; */
}
aside.post-author span {
	margin: 0 0 0;
}

aside.post-author { 
	padding: 20px 32px; 
	border: 2px solid #e1e1e1; 
}
aside.post-author img {
	border-radius: 50%;
}
aside.post-author-meta { 
	font-size: 80% ;
}
@media screen and (max-width: 650px) {
	aside.post-author .clearfix {
		padding-left: 15px;
		padding-right: 15px;

	}
}
aside.post-loopwrap { 
	padding-top: 0px;
}
/* プロフィール情報修飾終了 */

/*#############
* #############
* #############
* 					desktop
* #############
* #############
* #############*/

@media screen and (min-width: 1200px) {

	section.post-content{
		text-align:center;
	}

	.post-loop-wrap article p{
		text-align: left;
	}
	.post-loop-wrap .post-content{
		padding-top:7px;
	}
	.post-description {
    padding: 10px;
	}
}


/*#############
* #############
* #############
* 					laptop
* #############
* #############
* #############*/

@media screen and (max-width:1200px) and (min-width: 991px) {
	/* laptop */

	section.post-content{
		text-align:center;
	}

	.post-loop-wrap article p{
		text-align: left;
	}
		.post-loop-wrap .post-content{
		padding-top:7px;
	}
	.post-description {
    padding: 10px;
	}
}

/*#############
* #############
* #############
* 					tablet
* #############
* #############
* #############*/

@media screen and (max-width:991px) and (min-width: 767px) {
	.post-loop-wrap .post-thumbnail{
		margin-left:auto;
		margin-right:auto;
	}
	.post-loop-wrap .post-content {
		padding: 0 10px;
	}
	.post-description {
    padding: 10px;
	}
}

/*#############
* #############
* #############
* 					phone
* #############
* #############
* #############*/
@media screen and (max-width:767px) {
	.post-loop-wrap .post-thumbnail{
		margin-left:auto;
		margin-right:auto;
	}
	.post-loop-wrap .post-content {
		padding: 0 10px;
	}
}